.circularpg-tabs {
    display: flex;
    padding: 40px;
    padding-bottom: 0px;
    gap: 20px;
}

.circularpg-tabs a {
    font: 18px;
    font-weight: bold;
    color: var(--text-secondary-color);
    background-color: rgb(0, 100, 255);
    border: 1px solid rgba(150, 150, 150, 0.5);
    border-radius: 5px;
    padding: 5px 20px;
}