.Navbar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.Nav-Bar {
    position: fixed;
    background: var(--navbar-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    height: 55px;
    width: 100%;
    z-index: 1000;
}

.navbar-left-container {
    position: absolute;
    left: 12px;
    display: flex;
    align-items: center;
}

.navbar-title{
    font-size: 20px; /* Equivalent to text-xl in Tailwind */
    font-weight: bold;
    color: var(--navbar-text-color);
    margin: 0px;
    margin-left: 10px;
    white-space: nowrap;
  }
  
.menu-btn {
    border: none !important;
    background: none !important;
    padding: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 5px;
    transition: transform 0.3s ease-in-out;
}

.menu-line {
    height: 4px;
    background: var(--navbar-text-color);
    transition: width 0.3s ease-in-out;
    border-radius: 2px;
}

.menu-line:nth-child(1) { width: 24px; }
.menu-line:nth-child(2) { width: 18px; }
.menu-line:nth-child(3) { width: 12px; }

.menu-btn:hover .menu-line {
    width: 24px !important;
}

.navbar-search-container {
    position: relative;
    display: flex;
    width: 40%;
    height: 38px;
    z-index: 9999;
}

@media (max-width: 768px) { /* For small screens */
    .navbar-search-container {
        width: 30%;
    }
}
@media (max-width: 600px) { /* For extra small screens */
    .navbar-search-container {
        width: 100%;
    }
}

.search-input {
    width: 100%;
    height: 100%;
    padding: 0px 40px 0px 15px;
    border-radius: 50px !important;
    border: 1px solid rgba(150, 150, 150, 0.3) !important;
    outline: none;
    background-color: rgba(150, 150, 150, 0.2) !important;
    color: var(--navbar-text-color);
    font-size: 16px;
}

.search-input::placeholder {
    color: var(--navbar-text-color);
}

.search-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--navbar-text-color);
}

.search-clear-btn {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: var(--navbar-text-color);
    font-size: 20px;
    cursor: pointer;
}

.search-input::-webkit-search-decoration,
.search-input::-webkit-search-cancel-button {
    display: none; /* Hide default clear button */
}

.material-icons {
    font-size: 20px;
    vertical-align: middle;
}

.navbar-right-container {
    position: absolute;
    right: 12px;
    display: flex;
    align-items: center;
    gap: 15px
}

.navbar-profile-btn {
    background: var(--navbar-text-color);
    object-fit: cover;
    padding: 2px;
    border-radius: 50%;
    cursor: pointer;
    width: 35px;
    height: 35px;
    margin: 0px;
}

.navbar-login-btn {
    background: var(--navbar-text-color);
    color: var(--navbar-color);
    padding: 6px;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.profile-btn:hover {
    background: var(--navbar-hover-color);
}

.navbar-search-btn {
    color: var(--navbar-text-color);
    font-size: 20px;
    cursor: pointer;
}

.navbar-btn {
    color: var(--navbar-text-color);
    font-size: 20px;
    cursor: pointer;
}

.navbar-btn:hover {
    color: var(--navbar-hover-color);
}

.navbar-link {
    color: var(--navbar-text-color);
    text-decoration: none;
    font-size: 16px;
    font-weight: normal;
    cursor: pointer;
    white-space: nowrap;
}

.navbar-link:hover {
    color: var(--navbar-hover-color);
    text-decoration: underline;
}

@media (max-width: 600px) { /* For extra small screens */
    .sidebar {
        margin-left: -70px;
    }
}

.sidebar {
    position: fixed;
    top: 55px;
    left: 0;
    width: 70px;
    height: 100%;
    max-height: 100%;
    background: var(--sidebar-close-color);
    box-shadow: 5px 0px 15px rgba(200, 200, 200, 0.1);
    padding: 10px 10px 70px 10px;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    z-index: 1000;
    transition: width 0.3s ease-in-out, background 0.3s ease, box-shadow 0.3s ease, margin 0.3s ease;
}

.sidebar.open {
    width: 200px;
    margin-left: 0px;
    background: var(--sidebar-open-color);
    box-shadow: 5px 0px 15px rgba(200, 200, 200, 0.2);
}

/* Sidebar scrollbar styling */
.sidebar::-webkit-scrollbar {
  width: 3px;
}
.sidebar::-webkit-scrollbar-thumb {
  background: rgba(130, 130, 130, 0.5);
  border-radius: 10px;
}
.sidebar::-webkit-scrollbar-track {
  background: transparent;
}

/* When sidebar is open, adjust padding-left for active element */
.sidebar.open .sidebar-item.active {
    padding-left: 30px !important;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar-item {
    display: flex;
    align-items: center;
    padding: 12px !important;
    color: var(--sidebar-text-color);
    cursor: pointer;
    text-decoration: none !important;
    border-radius: 8px;
    transition: background 0.3s ease;
    white-space: nowrap; /* Prevents text from wrapping */
}

.sidebar-item.active {
    background: var(--sidebar-active-color) !important;
    color: var(--sidebar-active-text-color) !important;
    box-shadow: none !important;
    border-radius: 0px;
    border-left: 4px solid var(--sidebar-accent-color);
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 18px !important;  /* new padding = (old padding + left margin - border-left) = (12+10-4) = 18 */
    cursor: default;
    transition: padding-left 0.3s ease, margin 0.3s ease, border-left 0.3s ease, border-radius 0.3s ease, background 0.3s ease;
}

.sidebar-item:hover {
    background: var(--sidebar-hover-color);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.sidebar-item:hover .sidebar-icon {
    transform: scale(1.1);
}

.sidebar-item.active .sidebar-icon {
    transform: scale(1.1);
}

.sidebar-item:hover .sidebar-text {
    font-weight: bold;
}

.sidebar-item.active .sidebar-text {
    font-weight: bold;
}

.sidebar-icon {
    font-size: 24px;
    transition: transform 0.1s ease;
}

.sidebar-text {
    margin-left: 10px; /* Adds space between icon and text */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, font-weight 0.1s ease-in-out;
}

.sidebar.open .sidebar-text {
    opacity: 1;
    visibility: visible;
}

.logout-btn {
    background: none;
    margin: 2px;
    transition: all 0.3s ease, color 0.3s ease;
}

.logout-btn:hover {
    background: #ff4444;
    color: whitesmoke;
}
