.notifications-overlay.fade-in {
    animation: fadeIn 0.3s ease-out;
}

.notifications-overlay.fade-out {
    animation: fadeOut 0.3s ease-out;
}

.notifications-panel.slide-in {
    animation: slide-Left-In 0.3s ease-out;
}

.notifications-panel.slide-out {
    animation: slide-Left-Out 0.3s ease-out;
}

.notifications-overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(50, 50, 50, 0.5);
    backdrop-filter: blur(3px); /* blur effect */
    z-index: 9997; /* two index less then Alert & one index less then settings */
}

.notifications-panel{
    position: fixed;
    height: 100%;
    width: 100%;
    max-width: 400px;
    right: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-left: 2px solid rgba(150, 150, 150, 0.8);
    background: var(--sidebar-open-color);
    backdrop-filter: blur(10px); /* blur effect */
    z-index: 9997; /* two index less then Alert & one index less then settings */
}

.notifications-header{
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    height: 35px;
    top: 0px;
    padding: 5px 20px;
    color: var(--text-primary-color);
    border-top-left-radius: 10px;
    background: rgba(150, 150, 150, 0.3);
}

.notifications-header h5{
    margin: 0px;
}

.notifications-cancle-btn{
    position: absolute;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.notifications-cancle-btn:hover{
    font-weight: 1000;
    color: red;
}

.notifications-refresh-btn {
    position: absolute;
    right: 40px;
    font-size: 20px;
    cursor: pointer;
}

.notifications-refresh-btn:hover {
    color: rgb(150, 150, 150);
}

.notifications-footer{
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    height: 35px;
    bottom: 0px;
    padding: 5px 20px;
    color: var(--text-primary-color);
    border-bottom-left-radius: 10px;
    background: rgba(150, 150, 150, 0.2);
}

.notifications-footer h1{
    margin: 0px;
    font-size: 16px;
    font-weight: normal;
    cursor: pointer;
}

.notifications-footer h1:hover{
    color: rgb(50, 150, 255);
}

.notifications-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    margin: 35px 0px;
    max-height: calc(100vh - 35px - 35px); /* Limits height */
    overflow-y: auto;
}

/* Custom scrollbar for WebKit browsers (Chrome, Edge, Safari) */
.notifications-container::-webkit-scrollbar {
    width: 6px;
}
.notifications-container::-webkit-scrollbar-track {
    background: transparent; /* No track background */
}
.notifications-container::-webkit-scrollbar-thumb {
    background: rgba(130, 130, 130, 0.5); /* Semi-transparent scrollbar */
    border-radius: 3px; /* Rounded scrollbar */
}
.notifications-container::-webkit-scrollbar-button {
    display: none;
}

.notifications-item{
    position: relative;
}

.notifications-item h1{
    font-size: 18px;
    margin-bottom: 0px;
    color: var(--text-primary-color);
}

.notifications-item p{
    display: -webkit-box;
    font-size: 14px;
    margin-bottom: 42px;
    text-align: justify;
    color: var(--text-primary-color);
    opacity: 0.8;
    -webkit-line-clamp: 4; /* Set max number of lines */
    -webkit-box-orient: vertical;
    overflow: hidden;

}

.notifications-item h2{
    position: absolute;
    bottom: 0px;
    left: 0px;
    color: gray;
    font-size: 14px;
    font-weight: normal;
}

.notifications-item h3{
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: gray;
    font-size: 14px;
    font-weight: normal;
}

.notifications-item div{
    width: 100%;
    height: 2px;
    background: rgba(200, 200, 200, 0.3);
}



