@import "tailwindcss";





/*** General Animations ***/

    /* fade */
    @keyframes fadeIn {
        from { opacity: 0; }
        to { opacity: 1; }
    }
    @keyframes fadeOut {
        from { opacity: 1; }
        to { opacity: 0; }
    }

    /* slide Up */
    @keyframes slide-Up-In {
        from { transform: translateY(30px); opacity: 0; }
        to { transform: translateY(0); opacity: 1; }
    }
    @keyframes slide-Up-Out {
        from { transform: translateY(0); opacity: 1; }
        to { transform: translateY(30px); opacity: 0; }
    }

    /* slide Down */
    @keyframes slide-Down-In {
        from { transform: translateY(-30px); opacity: 0; }
        to { transform: translateY(0); opacity: 1; }
    }
    @keyframes slide-Down-Out {
        from { transform: translateY(0); opacity: 1; }
        to { transform: translateY(-30px); opacity: 0; }
    }

    /* slide Left */
    @keyframes slide-Left-In {
        from { transform: translateX(30px); opacity: 0; }
        to { transform: translateX(0); opacity: 1; }
    }
    @keyframes slide-Left-Out {
        from { transform: translateX(0); opacity: 1; }
        to { transform: translateX(30px); opacity: 0; }
    }

    /* slide Right */
    @keyframes slide-Right-In {
        from { transform: translateX(-30px); opacity: 0; }
        to { transform: translateX(0); opacity: 1; }
    }
    @keyframes slide-Right-Out {
        from { transform: translateX(0); opacity: 1; }
        to { transform: translateX(-30px); opacity: 0; }
    }

/* ---------- */





/*** themes ***/

    /* Default light theme */
    :root {
        /* background */
        --bg-color: rgba(200, 200, 200, 0.7);
        --bg-invert: 1;

        /* scrollbar */
        --scrollbar-bg-color: rgb(240, 240, 240);
        --scrollbar-thumb-color: rgba(130, 130, 130, 0.5);
        --scrollbar-thumb-hover-color: rgba(130, 130, 130, 0.8);

        /* text */
        --text-invert-color: white;
        --text-primary-color: black;
        --text-secondary-color: rgb(70, 70, 70);
        --text-tertiary-color: rgb(100, 100, 100);

        /* navbar */
        --navbar-color: rgb(255, 255, 255);
        --navbar-text-color: rgb(50, 50, 50);
        --navbar-hover-color: rgb(150, 150, 150);
        
        /* sidebar */
        --sidebar-close-color: rgba(255, 255, 255, 0.5);
        --sidebar-open-color: rgba(255, 255, 255, 0.9);
        --sidebar-text-color: rgb(50, 50, 50);
        --sidebar-active-color: rgb(150, 150, 150);
        --sidebar-active-text-color: rgb(255, 255, 255);
        --sidebar-hover-color: rgb(120, 200, 255);
        --sidebar-accent-color: rgb(100, 100, 100);

        /* Settings panel */
        --settings-toggle-color: rgb(180, 180, 180);

        /* Profile panel */
        --profile-img-border-color: rgb(255, 255, 255);
        --profile-accent-color: rgb(0, 50, 160);
        --profile-button-color: rgb(0, 100, 255);
        --profile-button-hover-color: rgb(0, 50, 200);

        /* Profile page */
        --profilepg-accent-color: rgb(120, 200, 255);

        /* Page not found */
        --pnf-color: rgb(255, 255, 255);
        
        /* Panel general */
        --panel-color: rgb(240, 240, 240);
        --panel-transparent-color: rgb(255, 255, 255, 0.8);
        --panel-border-color: rgb(240, 240, 240);
    }

    /* Dark theme */
    [data-theme="dark"] {
        /* background */
        --bg-color: rgba(50, 50, 50, 0.5);
        --bg-invert: 0;

        /* scrollbar */
        --scrollbar-bg-color: rgb(60, 60, 60);
        --scrollbar-thumb-color: rgba(130, 130, 130, 0.5);
        --scrollbar-thumb-hover-color: rgba(130, 130, 130, 0.8);

        /* text */
        --text-invert-color: black;
        --text-primary-color: white;
        --text-secondary-color: rgb(220, 220, 220);
        --text-tertiary-color: rgb(200, 200, 200);

        /* navbar */
        --navbar-color: rgb(0, 0, 10);
        --navbar-text-color: rgb(255, 255, 255);
        --sidebar-close-color: rgb(200, 200, 255);

        /* sidebar */
        --sidebar-close-color: rgba(0, 0, 50, 0.5);
        --sidebar-open-color: rgba(0, 0, 50, 0.8);
        --sidebar-text-color: rgb(255, 255, 255);
        --sidebar-active-color: rgb(85, 85, 85); /* #555 */
        --sidebar-active-text-color: rgb(255, 255, 255);
        --sidebar-hover-color: rgb(68, 68, 68); /* #444 */
        --sidebar-accent-color: rgb(255, 255, 255);
        
        /* Settings panel */
        --settings-toggle-color: rgb(200, 200, 200);
        
        /* Profile panel */
        --profile-img-border-color: rgb(50, 50, 50);
        --profile-accent-color: rgb(150, 200, 255);
        --profile-button-color: rgb(50, 50, 50);
        --profile-button-hover-color: rgb(0, 30, 100);

        /* Profile page */
        --profilepg-accent-color: rgb(255, 255, 255);

        /* Page not found */
        --pnf-color: rgb(30, 30, 30);
            
        /* Panel general */
        --panel-color: rgb(70, 70, 70);
        --panel-transparent-color: rgb(150, 150, 150, 0.5);
        --panel-border-color: rgb(120, 120, 120);
    }

/* ---------- */





/*** General page layout and size shrink ***/

    .page-container {
        width: 100%;
        height: 100%;
        padding: 55px 0px 0px 70px;
    }

    .page-main-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 20px;
        padding: 40px;
    }

    .page-parent-base-container {
        width: 100%;
        column-count: 2; 
        column-gap: 20px; 
        overflow: hidden;
    }

    .page-base-container {
        position: relative;
        break-inside: avoid; /* Prevent items from breaking awkwardly */
        width: 100%;
        padding: 40px;
        margin-bottom: 20px;
        border-radius: 10px;
        background: var(--panel-color);
        text-align: center;
    }

    .page-base-container h1 {
        color: var(--text-primary-color);
        margin-top: -15px;
        margin-bottom: 15px;
        font-size: 26px;
        width: fit-content;
        justify-self: center;
    }

    .page-container-line-1 {
        width: calc(100% + 30px);
        height: 3px;
        margin: 10px -15px;
        background: rgba(150, 150, 150, 0.5);
    }

    .page-container-line-2 {
        width: calc(100% + 20px);
        height: 2px;
        margin: 0px -10px;
        background: rgba(150, 150, 150, 0.5);
    }

    @media (max-width: 1280px) {
        .page-main-container {
            transform: scale(0.9);
            transform-origin: top left;
            margin-bottom: -110px;
            width: 111%;
        }
    }

    @media (max-width: 1024px) {
        .page-main-container {
            transform: scale(0.7);
            transform-origin: top left;
            margin-bottom: -580px;
            width: 143%;
        }
        .page-parent-base-container {
            /* On smaller screen reduce column count to 1 */
            column-count: 1; 
        }
    }

    @media (max-width: 768px) {
        .page-main-container {
            transform: scale(0.5);
            transform-origin: top left;
            margin-bottom: -960px;
            width: 200%;
        }
    }

    @media (max-width: 600px) { /* For extra small screens, when side bar is hidden */
        .page-container {
            padding: 55px 0px 0px 0px;
        }
    }

/* ---------- */





/*** 🌍 Global Styles for HTML Elements ***/

    /* General Reset */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }


    /* Body */
    body {
        font-family: 'Arial', sans-serif;
        line-height: 1.6;
        color: var(--text-primary-color);
        background-color: var(--bg-color);
        overflow-x: hidden;
    }


    /* Main Scrollbar  */
    ::-webkit-scrollbar {
        width: 10px;
    }
  
    ::-webkit-scrollbar-thumb {
        background: var(--scrollbar-thumb-color);
        border-radius: 10px;
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background: var(--scrollbar-thumb-hover-color);
    }
    
    ::-webkit-scrollbar-track {
        background: var(--scrollbar-bg-color);
    }
    
    ::-webkit-scrollbar-button:single-button:decrement {
        background-color: var(--scrollbar-bg-color);
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23828282'><path d='M7 14l5-5 5 5z'/></svg>");
        background-size: 16px 16px !important;
        background-repeat: no-repeat;
        background-position: center;
        height: 12px;
        width: 10px;
    }
    ::-webkit-scrollbar-button:single-button:decrement:hover {
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%2387CEEB'><path d='M7 14l5-5 5 5z'/></svg>");
    }
    
    ::-webkit-scrollbar-button:single-button:increment {
        background-color: var(--scrollbar-bg-color);
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23828282'><path d='M7 10l5 5 5-5z'/></svg>");
        background-size: 16px 16px !important;
        background-repeat: no-repeat;
        background-position: center;
        height: 12px;
        width: 10px;
    }
    ::-webkit-scrollbar-button:single-button:increment:hover {
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%2387CEEB'><path d='M7 10l5 5 5-5z'/></svg>");
    }
    

    /* General Scrollbar */
    .scrollbar::-webkit-scrollbar {
        width: 6px;
    }
    .scrollbar::-webkit-scrollbar-track {
        background: transparent; /* No track background */
    }
    .scrollbar::-webkit-scrollbar-thumb {
        background: var(--scrollbar-thumb-color); /* Semi-transparent scrollbar */
        border-radius: 3px; /* Rounded scrollbar */
    }
    .scrollbar::-webkit-scrollbar-thumb:hover {
        background: var(--scrollbar-thumb-hover-color); /* Semi-transparent scrollbar */
    }
    .scrollbar::-webkit-scrollbar-button {
        display: none;
    }


    /* Date Select */
    .date-select {
        position: relative;
        
    }
    .date-select span {
        position: absolute;
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 16px;
        color: var(--text-tertiary-color) !important;
        cursor: pointer;
    }
    .date-select-input {
        width: 100%;
        height: 30px;
        padding: 8px;
        border: none;
        border-radius: 5px;
        background: var(--panel-transparent-color);
        font-size: 16px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .date-select-input:focus {
        outline: 1px solid var(--panel-border-color);
        box-shadow: 0 0 5px rgba(50, 150, 255, 0.5);
    }
    .date-select-input::-webkit-calendar-picker-indicator {
        display: none;
    }


    /* Dropdown */
    .dropdown {
        position: relative;
    }
    .dropdown span {
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-40%);
        font-size: 16px;
        color: var(--text-primary-color);
        cursor: pointer;
    }
    .dropdown-input {
        width: 100%;
        height: 30px;
        padding: 8px;
        padding-right: 22px;
        border: none;
        border-radius: 5px;
        background: var(--panel-transparent-color);
        font-size: 16px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .dropdown-input:focus {
        outline: 1px solid var(--panel-border-color);
        box-shadow: 0 0 5px rgba(50, 150, 255, 0.5);
    }
    .dropdown-list {
        position: absolute;
        width: 100%;
        background: var(--panel-color);
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
        border: 1px solid var(--panel-border-color);
        border-radius: 5px;
        list-style: none;
        padding: 0px;
        margin: 0px;
        margin-top: 5px;
        max-height: 200px;
        overflow-y: auto;
        z-index: 999;
    }
    .dropdown-list li {
        display: flex;
        display: block;
        text-align: left;
        line-height: 35px;
        padding: 0px 10px;
        cursor: pointer;
        height: 35px;
        width: 100%;
        margin: 0px;
        border-bottom: 1px solid rgba(130, 130, 130, 0.2);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .dropdown-list li:hover {
        background: rgba(130, 130, 130, 0.3);
    }


    /* Headings */
    h1, h2, h3, h4, h5, h6 {
        font-weight: bold;
        margin-bottom: 15px;
    }


    /* Heading Sizes */
    h1 { font-size: 2rem; }
    h2 { font-size: 1.7rem; }
    h3 { font-size: 1.4rem; }
    h4 { font-size: 1.2rem; }
    h5 { font-size: 1rem; }
    h6 { font-size: 0.9rem; }


    /* Paragraphs */
    p {
        font-size: 1rem;
        margin-bottom: 15px;
    }


    /* Lists */
    ul, ol {
        padding-left: 25px;
        margin-bottom: 15px;
    }
    ul li {
        list-style-type: disc;
        margin-bottom: 8px;
    }
    ol li {
        list-style-type: decimal;
        margin-bottom: 8px;
    }


    /* Links */
    a {
        color: #007BFF;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }


    /* Buttons */
    button {
        background: #007BFF;
        color: white;
        border: none;
        padding: 10px 15px;
        font-size: 1rem;
        cursor: pointer;
        border-radius: 5px;
        transition: background 0.3s;
    }
    button:hover {
        background: #0056b3;
    }


    /* Tables */
    table {
        width: 100%;
        border-collapse: collapse;
    }
    thead {
        background: #007BFF;
    }
    th, td {
        border: 2px solid rgba(200, 200, 200, 0.6);
        padding: 10px;
        text-align: left;
    }
    th {
        color: white;
    }
    td {
        color: var(--text-primary-color);
    }

    /* Blockquotes */
    blockquote {
        font-style: italic;
        border-left: 4px solid #007BFF;
        padding-left: 10px;
        color: #444;
        margin-bottom: 15px;
    }


    /* Code */
    code {
        background: #f4f4f4;
        padding: 5px;
        border-radius: 5px;
        font-family: monospace;
    }


    /* Horizontal Rule */
    hr {
        border: 0;
        height: 1px;
        background: #ccc;
        margin: 20px 0;
    }

    
    /* Images */
    img {
        max-width: 100%;
        height: auto;
        display: block;
        margin-bottom: 15px;
        border-radius: 5px;
    }

/* ---------- */