@import "tailwindcss";


/* Define global variables */
@layer base {
    :root {
        --navbar-bg: 0, 0, 10;
        --sidebar-bg: 255, 255, 255;
        --background: 255, 255, 255;
        --text: 0, 0, 0;
    }

    * {
        @apply
        transition-colors duration-100 ease-in-out;
    }
}

/* Light Theme */
.light {
    --navbar-bg: 0, 0, 10;
    --sidebar-bg: 255, 255, 255;
    --background: 255, 255, 255;
    --text: 0, 0, 0;
}

/* Dark Theme */
.dark {
    --navbar-bg: 0, 0, 10;
    --sidebar-bg: 20, 20, 20;
    --background: 0, 0, 0;
    --text: 255, 255, 255;
}

/* Custom Theme Example */
.custom {
    --navbar-bg: 10, 10, 50;
    --sidebar-bg: 30, 30, 30;
    --background: 10, 10, 10;
    --text: 255, 200, 150;
}




/* Add Tailwind Utility Classes */
@layer utilities {
    .bg-navbar {
        background-color: rgb(var(--navbar-bg));
    }
    .bg-sidebar {
        background-color: rgb(var(--sidebar-bg));
    }
    .bg-background {
        background-color: rgb(var(--background));
    }
    .text-primary {
        color: rgb(var(--text));
    }
}