.attendance-base-container {
    margin: 0px;
}

.attendance-context-line-1 {
    transform: translateX(20px);
    width: calc(100% - 40px);
    height: 2px;
    background: rgba(150, 150, 150, 0.2);
}

.attendance-summary-container {
    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 20px;
    background: none;
    margin: 0px;
}

.attendance-select-base-container {
    margin: 0px;
    padding: 20px 40px;
    color: var(--text-primary-color);
}

.attendance-select-base-container h1 {
    display: flex;
    font-size: 16px;
    line-height: 16px;
    font-weight: normal;
    justify-self: left;
    margin-top: 10px;
    margin-bottom: 30px;
    color: var(--text-tertiary-color);
    gap: 5px;
}

.attendance-select-base-container span {
    font-size: 16px;
    font-weight: bold;
    color: var(--text-tertiary-color);
}

.attendance-select-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.attendance-select-holder button {
    height: 40px;
    width: 100px;
    margin-left: 188px;
    display: flex;
    font-size: 16px;
    font-weight: normal;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 5px;
}

.attendance-select-holder span {
    font-size: 16px;
    font-weight: normal;
    color: white;
}

.attendance-select {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--text-primary-color);
}

.attendance-select > div {
    width: 200px;
}

.attendance-select label {
    width: 80px;
    text-align: right;
    white-space: nowrap;
}