.attendance-base-container {
    margin: 0px;
}

.attendance-dropdown-base-container {
    margin: 0px;
    padding-bottom: 20px;
    color: var(--text-primary-color);
}

.attendance-dropdown-base-container h1 {
    display: flex;
    font-size: 16px;
    font-weight: normal;
    justify-self: left;
    align-items: center;
    margin-bottom: 20px;
    color: var(--text-tertiary-color);
    gap: 5px;
}

.attendance-dropdown-base-container span {
    font-size: 16px;
    font-weight: bold;
    color: var(--text-tertiary-color);
}

.attendance-context-line-1 {
    transform: translateX(20px);
    width: calc(100% - 40px);
    height: 2px;
    background: rgba(150, 150, 150, 0.2);
}

.attendance-summary-container {
    display: flex;
    flex-direction: row;
    padding: 0px;
    gap: 20px;
    background: none;
    margin: 0px;
}

.attendance-dropdown-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.attendance-dropdown-holder button {
    height: 40px;
    width: 100px;
    margin-left: 190px;
    display: flex;
    font-size: 16px;
    font-weight: normal;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 5px;
}

.attendance-dropdown-holder span {
    font-size: 16px;
    font-weight: normal;
    color: white;
}










.dropdown {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--text-primary-color);
}

.dropdown label {
    width: 80px;
    text-align: right;
    white-space: nowrap;
}

.dropdown-wrapper {
    position: relative;
    width: 200px;
}

.dropdown-wrapper span {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-40%);
    font-size: 16px;
    color: var(--text-primary-color);
    cursor: pointer;
}

.dropdown-input {
    width: 100%;
    height: 30px;
    padding: 8px;
    padding-right: 22px;
    border: none;
    border-radius: 5px;
    background: var(--panel-transparent-color);
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown-input:focus {
    outline: 1px solid var(--panel-border-color);
    box-shadow: 0 0 5px rgba(130, 130, 130, 0.5);
}

.dropdown-list {
    position: absolute;
    width: 100%;
    background: var(--panel-color);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid var(--panel-border-color);
    border-radius: 5px;
    list-style: none;
    padding: 0px;
    margin: 0px;
    margin-top: 5px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 999;
}

.dropdown-list li {
    display: flex;
    display: block;
    text-align: left;
    line-height: 35px;
    padding: 0px 10px;
    cursor: pointer;
    height: 35px;
    width: 100%;
    margin: 0px;
    border-bottom: 1px solid rgba(130, 130, 130, 0.2);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown-list li:hover {
    background: rgba(130, 130, 130, 0.3);
}
